/* CUSTOM PROPERTYS  */
:root {
    --text-color: #111517;
    --light-body-bg: #fafafa;
    --element-bg: #fff;
}


/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    background-color: var(--light-body-bg);
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* DARK MODE */
.dark-mode {
    --text-color: #fff;
    --light-body-bg: #202c36;
    --element-bg: #2b3844;
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
}



/* RETINA BG */
@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        /* retina bg img */
}
/* //RETINA BG */